In [1]:
dictionary = {
    "A":1,
    "B":2,
    "C":3,
    "D":4,
}

In [2]:
dictionary.keys()

dict_keys(['A', 'B', 'C', 'D'])

In [3]:
dictionary.values()

dict_values([1, 2, 3, 4])

In [4]:
dictionary.items()

dict_items([('A', 1), ('B', 2), ('C', 3), ('D', 4)])

In [5]:
{k.lower(): v ** 2 for k, v in dictionary.items()}

{'a': 1, 'b': 4, 'c': 9, 'd': 16}

In [6]:
numbers = range(10)
new_dict = {}
for i in numbers:
    if i % 2 == 0:
        new_dict[i] = i ** 2
        
print(new_dict)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [7]:
import seaborn as sns

In [8]:
car_crashes = sns.load_dataset("car_crashes")
df = car_crashes.copy()
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [9]:
num_columns = [ col for col in df.columns if df[col].dtype != "O"]
soz = {}
agg_list= ["mean", "max", "min", "sum"]

In [10]:
# long way
for col in num_columns:
    soz[col] = agg_list

In [11]:
# short way
new_dict = {col: agg_list for col in num_columns}

In [12]:
df[num_columns].head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63

In [13]:
df[num_columns].agg(new_dict)

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
mean,15.790196,4.998196,4.886784,13.573176,14.004882,886.957647,134.493137
max,23.900000,9.450000,10.038000,23.661000,21.280000,1301.520000,194.780000
min,5.900000,1.792000,1.593000,1.760000,5.900000,641.960000,82.750000
sum,805.300000,254.908000,249.226000,692.232000,714.249000,45234.840000,6859.150000