In [2]:
salaryies = [1000, 2000, 3000, 4000, 5000]

new_salaryies = []

for i in salaryies:
    if i > 3000:
        new_salaryies.append(i)
    else:
        new_salaryies.append(i * 2)
        
print(new_salaryies)

[2000, 4000, 6000, 4000, 5000]

In [3]:
[new_salaryies.append(i) if i > 3000 else new_salaryies.append(i * 2) for i in salaryies]

[None, None, None, None, None]

In [4]:
[salary* 2 for salary in salaryies if salary <= 3000]

[2000, 4000, 6000]

In [5]:
[salary* 2 if salary <= 3000 else salary*0  for salary in salaryies]

[2000, 4000, 6000, 0, 0]

In [6]:
students = ["ali", "veli", "deli", "ayşe"]

students_not = ["ali", "deli"]

[i.lower() if i in students_not else i.upper() for i in students]

['ali', 'VELI', 'deli', 'AYŞE']

We want to change variable names in a data set.
 
*  Before : + ['total', 'speeding', 'alcohol', 'not_distracted', "no_previous","ins_premium','ins_losses', 'abbrev']
 
*  After : + ["TOTAL", "SPEEDING", "ALCOHOL", "NOT_DISTRACTED", "NO_PREVIOUS", "INS_PREMIUM", "INS_LOSSES", "ABBREV"]

In [8]:
import seaborn as sns

car_crashes=  sns.load_dataset("car_crashes")
df = car_crashes.copy()

In [9]:
df.columns = [col.upper() for col in df.columns]

In [10]:
[col for col in df.columns if "INS" in col]

['INS_PREMIUM', 'INS_LOSSES']

In [11]:
["FLAG_" + col if "INS" in col else "NO_FLAG_" + col for col in df.columns]

['NO_FLAG_TOTAL',
 'NO_FLAG_SPEEDING',
 'NO_FLAG_ALCOHOL',
 'NO_FLAG_NOT_DISTRACTED',
 'NO_FLAG_NO_PREVIOUS',
 'FLAG_INS_PREMIUM',
 'FLAG_INS_LOSSES',
 'NO_FLAG_ABBREV']