Task 1: 

Examine the data structures of the given values. Use the Type() method.

x = 8 -- int
y = 3.2 -- float
z = 8 + 18 -- int
a = "Hello World" -- str
b = True -- bool
c = 23 < 22 -- bool
l = [1, 2, 3, 4] -- list
d = {"Name": "Jake",
      "Age": 27,
      "Address": "Downtown" } -- dict
t = ("Machine Learning", "Data Science") -- tuple
s = {"Python", "Machine Learning", "Data Science"} -- set

In [1]:
x = 8 
type(x)

int

In [2]:
y = 3.2
type(y)

float

In [3]:
z = 8 + 18
type(z)

int

In [4]:
a = "Hello World"
type(a)

str

In [5]:
b = True
type(b)

bool

In [6]:
c = 23 < 22
type(c)

bool

In [7]:
l = [1, 2, 3, 4]
type(l)

list

In [8]:
d = {"Name": "Jake",
     "Age": 27, 
     "Adress": "Downtown" }
type(d)

dict

In [9]:
t = ("Machine Learning", "Data Science")
type(t)

tuple

In [10]:
s = {"Python", "Machine Learning", "Data Science"}
type(s)

set

Task 2: 

Convert all letters of the given string expression to uppercase. Put space instead of commas and periods, separate them word by word.
    
text = "The goal is to turn data into information, and information into insight."
    
expected = ['THE', 'GOAL', 'IS', 'TO', 'TURN', 'DATA', 'INTO', 'INFORMATION', 'AND', 'INFORMATION', 'INTO', 'INSIGHT' ]

In [11]:
text = "The goal is to turn data into information, and information into insight."

text.upper().replace(",", "").replace(".", "").split()

['THE',
 'GOAL',
 'IS',
 'TO',
 'TURN',
 'DATA',
 'INTO',
 'INFORMATION',
 'AND',
 'INFORMATION',
 'INTO',
 'INSIGHT']

Task 3: 

Follow the steps below given the list.

lst = ["D", "A", "T", "A", "S", "C", "I", "E", "N", "C", "E"]
 
Step1: Look at the number of elements in the given list.
Step2: Call the elements at the zeroth and tenth index.
Step3: Create a list ["D", "A", "T", "A"] from the given list.
Step4: Delete the element at the eighth index.
Step5: Add a new element.
Step6: Add the "N" element again to the eighth index.

In [12]:
lst = ["D", "A", "T", "A", "S", "C", "I", "E", "N", "C", "E"]

In [13]:
# Step 1: We look at the number of elements of the given list. 
len(lst)

11

In [14]:
# Step 2: We call the elements at the zeroth and tenth index 
lst[0]

'D'

In [15]:
lst[10]

'E'

In [16]:
# Step 3: We create a list ["D", "A", "T", "A"] from the given list. 
new_list = lst[0:4]

In [17]:
# Step 4: We delete the element at the eighth index.
lst.pop(8)

'N'

In [18]:
# Step5: We add a new element.
lst.append("X")

In [19]:
# Step 6: Add the "N" element again to the eighth index.
lst.insert(8, "N")
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 'X']

Task 4: 

Apply the following steps to the given dictionary structure

dict = {'Christian': ["America", 18],
'Daisy': ["England", 12],
'Antonio': ["Spain", 22],
'Dante': ["Italy" ,25]}

Step1: Access key values.
Step2: Access the values.
Step3: Update the value of Daisy key 12 to 13.
Step4: Add a new value with the key value Ahmet value [Turkey,24].
Step5: Delete Antonio from the dictionary.

In [20]:
dict = {'Christian': ["America", 18],
'Daisy': ["England", 12],
'Antonio': ["Spain", 22],
'Dante': ["Italy" ,25]}

In [21]:
# Step1: Access the key values.
dict.keys()

dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])

In [22]:
# Step2: Access the values.
dict.values()

dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])

In [23]:
# Step3: Update the value 12 of Daisy key to 13.
dict["Daisy"][1] = 13

In [24]:
# Step4: Add a new value with the key value Ahmet value [Turkey,24].
dict["Ahmet"] = ["Turkey", 24]

In [25]:
# Step5: Delete Antonio from the dictionary.
dict.pop("Antonio")

['Spain', 22]

Task 5: 

Write a function that takes a list as an argument, assigns the odd and even numbers in the list to separate lists, and returns this list.

In [26]:
lst = [4,13,14,43,29]

In [27]:
def example(lst):
    odd = []
    even = []
    for i in lst:
        if i % 2 == 0:
            even.append(i)
        else:
            odd.append(i)
    return odd, even

In [28]:
even_list, odd_list = example(lst)

In [29]:
even_list

[13, 43, 29]

In [30]:
odd_list

[4, 14]

Task 6: 

The list given below contains the names of the students who achieved success in engineering and medical faculties. The first three students respectively studied engineering While it represents the success order of the faculty, the last three students belong to the student rank of the faculty of medicine. Get student grades using Enumarate Have it printed privately by the faculty.

students = ["Ali", "Veli", "Ayse", "Talat", "Zeynep", "Ece"]

Expected Output:
Faculty of Engineering 1. student: Ali
Faculty of Engineering 2. student: Parent
Faculty of Engineering 3. student: Ayse
Faculty of Medicine 1. student: Talat
Faculty of Medicine 2. student: Zeynep
Faculty of Medicine 3 students: Ece

In [31]:
students = ["Ali", "Veli", "Ayse", "Talat", "Zeynep", "Ece"]

for index, student in enumerate(students):
    if index < 3:
        print("Mühendislik Fakültesi {}. ögrenci: {}".format(index+1, student))
    else:
        print("Tip Fakültesi {}. ögrenci: {}".format(index-2, student))

Mühendislik Fakültesi 1. ögrenci: Ali
Mühendislik Fakültesi 2. ögrenci: Veli
Mühendislik Fakültesi 3. ögrenci: Ayse
Tip Fakültesi 1. ögrenci: Talat
Tip Fakültesi 2. ögrenci: Zeynep
Tip Fakültesi 3. ögrenci: Ece

Task 7: 

Below are 3 lists. The lists contain the code, credit and quota information of a course, respectively.Print the course information using Zip.

course_code = ["CMP1005", "PSY1001", "HUK1005", "SEN2204"]
credit = [3,4,2,4]
quota = [30,75,150,25]

Expected Output:
The quota of the course coded CMP1005, which has 3 credits, is 30 people.
The quota of the course coded PSY1001, which has 4 credits, is 75 people.
The quota of the HUK1005 course, which has 2 credits, is 150 people.
The quota of the course coded SEN2204, which has 4 credits, is 25 people.

In [32]:
course_code = ["CMP1005", "PSY1001", "HUK1005", "SEN2204"]
kredi = [3,4,2,4]
kontenian = [30,75,150,25]

In [33]:
ders_bilgileri = list(zip(course_code, kredi, kontenian))

In [34]:
for i in ders_bilgileri: 
    print(f"Kredisi {i[1]} olan {i[0]} kodlu dersin kontenjanı {i[2]} kisidir.")

Kredisi 3 olan CMP1005 kodlu dersin kontenjanı 30 kisidir.
Kredisi 4 olan PSY1001 kodlu dersin kontenjanı 75 kisidir.
Kredisi 2 olan HUK1005 kodlu dersin kontenjanı 150 kisidir.
Kredisi 4 olan SEN2204 kodlu dersin kontenjanı 25 kisidir.

## Task 8: 

2 sets are given below. What you are asked to do is, if the 1st set covers the 2nd set, then the common elements, if not, then the 2nd set.You are expected to define the function that will print the difference of the set from the 1st set.

kumel = set( ["data", "python"])
kume2 = set( ['data', "function", "qcut", "lambda", "python", "miuul")

Expected Output:
  {'function', 'qcut', 'lambda', 'miuul'}

In [35]:
kume1 = set( ["data", "python"])
kume2 = set( ["data", "function", "qcut", "lambda", "python", "miuul"])

In [36]:
kume1.issuperset(kume2)

False

In [37]:
print(kume2.difference(kume1))

{'lambda', 'function', 'miuul', 'qcut'}